{% load staticfiles %}
{% include "adminpanel/header-profile.html" %}
 <div class="col-md-12">
     <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Socials Details</h3>
<!--              <a class="btn btn-lg btn-primary pull-right" href="/admin/service-gallery/{{ services.id }}">Gallery</a>-->
              <div class="alert alert-success response" style="display: none;">
                <strong>Socials Edited Successfully</strong>
              </div>
              <div class="alert alert-success response-slug" style="display: none;">
                <strong>Cannot update Socials</strong>
              </div>
              <div class="alert alert-success nsdel_msg" style="display: none;">
                <strong>Socials Deleted successfully! </strong>
              </div>
            </div>
         
            <!-- /.box-header -->
            <div class="box-body">
                
              <form role="form" id="frm_editservice" method="post" action="/admin/edit-social/" enctype="multipart/form-data">{% csrf_token %}
                  <input type="hidden" name="social_id" value="{{ services.id }}">
                
                <div class="form-group">
                  <label>Socials Title</label>
                  <input name="title" value="{{ services.title }}" type="text" placeholder="Socials Title" class="form-control" required>
                </div>
                  
                  <div class="form-group">
                  <label>Socials URLS</label>
                  <input name="urls" value="{{ services.urls }}" type="text" placeholder="Socials URLS" class="form-control" required>
                </div>
                
               
                  
                
                
                <div class="form-group">
                   <label>Socials Logo</label><br/>
                   <img src="/media/{{services.cover_pic }}" class="img-responsive img-thumbnail" style="height: 200px; width: 200px;" ><br/>
                   <input type="file" name="cover_pic" accept="image/*">
                </div>
                <!--<div class="form-group">
                   <label>Product Gallery Images</label>
                   <input type="file" name="gallery_images" multiple="multiple" accept="image/*">
                </div> -->
                 <div class="form-group">
                    <button class="btn btn-success btn-lg" type="submit">Edit Socials</button>
                    <button id="delete_service" class="btn btn-success btn-lg" type="submit">Delete Socials</button>
                </div> 
                
            </form>
            </div>
            <!-- /.box-body -->
          </div>
      
   </div>

{% include "adminpanel/footer-profile.html" %}
<script>
   //callback handler for form submit
$("#frm_editservice").submit(function(e)
{
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data:  new FormData(this),
        contentType: false,
        cache: false,
        processData:false,
        beforeSend: function() {
            $("#default_loader").show();
        },
        success:function(data, textStatus, jqXHR) 
        {
            if(data !== '0') {
              $("#default_loader").hide();
              show_toast("Edited Success fully!");
              setTimeout(function(){ location.assign("/admin/socials_details/"+data+"/"); }, 3000);
            }else {
              $("#default_loader").hide();
              show_toast("Slug Already Exists!");
            }
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            return false;      
        }
    });
    e.preventDefault(); //STOP default action
    //e.unbind(); //unbind. to stop multiple form submit.
});

/* delete product  */

$("#delete_service").click(function(e)
{
    var x = confirm("Are you sure you want to delete?");
    if (x) {
    var del_id = '{{ services.id }}';
    $.ajax(
    {
        url : "/admin/delete-social/",
        type: "POST",
        data:  {'del_id' : del_id },
        beforeSend: function() {
                    //$('.response').show();
                },
        headers: {'X-CSRFToken': '{{ csrf_token }}'},        
        success:function(data, textStatus, jqXHR) 
        {
            if(data !== '0') {
              $("#default_loader").hide();
              show_toast("Deleted Success fully!");
              setTimeout(function(){ location.assign("/admin/list-social/"); }, 3000);
            }
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            return false;      
        }
    });
} else { 
         return false;
      }  
    e.preventDefault(); //STOP default action
    //e.unbind(); //unbind. to stop multiple form submit.
});


    
</script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&amp;key=AIzaSyB2YO7UWCZmmtCBpF2mPDEJ-T08rxmyOOI" type="text/javascript"></script>

<script type="text/javascript">
    function initialize() {
        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('city2').value = place.name;
            document.getElementById('cityLat').value = place.geometry.location.lat();
            document.getElementById('cityLng').value = place.geometry.location.lng();
            //alert("This function is working!");
            //alert(place.name);
           // alert(place.address_components[0].long_name);

        });
    }
    google.maps.event.addDomListener(window, 'load', initialize); 
</script>
<script>
$(document).ready(function() {
  $('#summernote').summernote({
  height: 300,                 // set editor height
  minHeight: 300,             // set minimum height of editor
  maxHeight: null,             // set maximum height of editor
  focus: true                  // set focus to editable area after initializing summernote
});
});
</script>