{% load staticfiles %}
{% include "frontend/inner-header.html" %}
{% load template_functions %}
<section class="login-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-12 text-center">
                <div class="logo-pic">
                    <img src='{% static "common" %}/fontend/img/logo-color.png' alt="" class="img-fluid">
                </div>
                <form class="form-area" action="/forgotpasswordsubmit/" method="POST">
                    <div class="form-group">
                        <label class="text-left w-100 font-weight-medium">Retrieve Password</label>
                        <input type="text" class="form-control" name="forgot_mail" placeholder="your Email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Retrieve Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include "frontend/inner-footer.html" %}