{% load staticfiles %}
{% include "frontend/inner-header.html" %}
{% load template_functions %}
<section class="login-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-12 text-center">
                <div class="logo-pic">
                    <img src='{% static "common" %}/fontend/img/logo-color.png' alt="" class="img-fluid">
                </div>
                <form class="form-area" id="resetpassform" action="/reset-password-submit/" method="POST">
                    <input type="hidden" name="forgot_mail" value="{{user}}">
                    <div class="form-group">
                        <label class="text-left w-100 font-weight-medium">New Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Your New Password" required="required">
                    </div>
                    <div class="form-group">
                        <label class="text-left w-100 font-weight-medium">Confirm New Password</label>
                        <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Retype Your Password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Retrieve Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include "frontend/inner-footer.html" %}
<script src='{% static "common/fontend/js/bootstrapValidator.js" %}'></script>
<script src='{% static "common/fontend/js/formValidation.js" %}'></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#resetpassform')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
        fields: {
            password: {
                message: 'The password is not valid.',
                validators: {
                    notEmpty: {
                        message: ' Password is required and cannot be empty'
                    }
                }
            },
            cpassword: {
                validators: {
                  notEmpty: {
                            message: 'Confirm Password is required and cannot be empty.'
                        },
                    identical: {
                        field: 'password',
                        message: ' Password and Confirm password are not the same'
                    }
                }
            }
        }
    });
});
</script>